extends layout

block content
  #about
    .container
      br
      div.col-sm-offset-1.col-sm-10
        img(src="//s3.amazonaws.com/shararik-web/images/Shaohua-Chen-20150716.png" style="width: 100%")
      br
