extends layout

block content
  #home-intro
    .container
      h3
        span(style="margin-right: 16px") My Portfolio
        div.btn-group.pull-right
          button#btn-portfolio-grid.btn.btn-primary(type="button") Grid
          button#btn-portfolio-slide.btn.btn-default(type="button") Slide
      br
      br
      div#thumbnails-portfolio
        div.row
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-bannerstand(gaoxinqu).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/bannerstand(gaoxinqu).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-bannerstand(jinying).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/bannerstand(jinying).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-brochure(citygf1).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/brochure(citygf1).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-brochure(citygf2).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/brochure(citygf2).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-brochure(citygf3).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/brochure(citygf3).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-flyer(buick).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/flyer(buick).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-flyer(jituan).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/flyer(jituan).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-flyer(jiuhang).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/flyer(jiuhang).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-logo(fsfabu).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/logo(fsfabu).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-webbanner(bestfs).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/webbanner(bestfs).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-webbanner(chebohui).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/webbanner(chebohui).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-webbanner(chezhan).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/webbanner(chezhan).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-webbanner(fsfabu).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/webbanner(fsfabu).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(chancheng).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(chancheng).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(cheduijue).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(cheduijue).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(danzao).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(danzao).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(fashion).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(fashion).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(gaoxinqu).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(gaoxinqu).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(haier).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(haier).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(lishi).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(lishi).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(lishui).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(lishui).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(mg).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(mg).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(radiofs).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(radiofs).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(sanshui).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(sanshui).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(shejian).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(shejian).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(wenminglvyou).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(wenminglvyou).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(xincheng).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(xincheng).jpg")
          div.col-sm-6.col-md-4
            a.thumbnail(href="//s3.amazonaws.com/shararik-web/images/portfolio-website(zhangzhong).png")
              img(src="//s3.amazonaws.com/shararik-web/images/portfolio/thumbnails/website(zhangzhong).jpg")
      div#carousel-portfolio.carousel.slide.center-block(data-ride="carousel" style="display: none")
        div.carousel-inner
          div.item.active
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-bannerstand(gaoxinqu).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-bannerstand(jinying).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-brochure(citygf1).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-brochure(citygf2).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-brochure(citygf3).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-flyer(buick).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-flyer(jituan).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-flyer(jiuhang).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-logo(fsfabu).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-webbanner(bestfs).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-webbanner(chebohui).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-webbanner(chezhan).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-webbanner(fsfabu).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(chancheng).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(cheduijue).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(danzao).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(fashion).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(gaoxinqu).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(haier).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(lishi).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(lishui).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(mg).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(radiofs).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(sanshui).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(shejian).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(wenminglvyou).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(xincheng).png", alt="...")
            div.carousel-caption
          div.item
            img(src="//s3.amazonaws.com/shararik-web/images/portfolio-website(zhangzhong).png", alt="...")
            div.carousel-caption
        a.left.carousel-control(href="#carousel-portfolio", data-slide="prev")
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href="#carousel-portfolio", data-slide="next")
          span.glyphicon.glyphicon-chevron-right
